<body style="text-align: center !important; width: 100%; margin: 0 auto; margin: auto !important; background-image:url('http://bgwall.net/wp-content/uploads/2014/01/Beautiful-Green-Earth-Closeup-Wallpaper.jpg'); color: white;">

<h1 class="abouth">Lights Out is a social reporting app that <br>Allows anyone to report sustainability issues in their community.</h1>

<h3 class="abouth">If you see a light on during the day,<br> snap a picture and upload it to the site!</h3>

<h5 class="abouth">When we all do our little part,<br>	 we can make a huge difference in the world. <br>

	Regulating light waste<br> can save our communities millions of dollars per year,<br> and reduce carbon emissions.
</h5>

<h4 class="abouth">
Our team memebers<br>are passionate about auditing energy use in the world.<br>As a group,<br>we are former energy auditors, designers, coders, hackers, and business developers.
</h4>


<h4 class="abouth">For inquiries, please email Spencer: spencer@lightsout.io</h4>


<h3 class="abouth"> Keep up the good reports!</h4>
</h1>