<body style="text-align: center !important; width: 100%; margin: 0 auto; margin: auto !important; background-image:url('http://bgwall.net/wp-content/uploads/2014/01/Beautiful-Green-Earth-Closeup-Wallpaper.jpg'); color: white;">

<h1>Lights Out is a social reporting app that allows anyone to report sustainability issues in their community.</h1>

<h3>If you see a light on during the day, snap a picture and upload it to the site!</h3>

<h5>When we all do our little part, we can make a huge difference in the world. <br>

	Regulating light waste can save our communities millions of dollars per year, and reduce carbon emissions.
</h5>

<h3>Also:</h3>

<h5>Feel free to report on other glaring sustainability issues you see in your life.<br>
	Examples: 
	<li>Lights on in a large building after midnight.</li>
	<li>Sprinkler systems on during a rainstorm.</li>
</h5>


<h1>Meet The Team:</h1>

Our team is made up of a bunch of people passionate about environmentally-friendly startups.  As a group, we are former energy auditors, designers, coders, hackers, and business developers.

<h4>For inquiries, please email Spencer: spencer@lightsout.io</h4>


<h3> Keep up the good reports!</h4>