<body style="text-align: center !important; width: 100%; margin: 0 auto; margin: auto !important; background-image:url('http://bgwall.net/wp-content/uploads/2014/01/Beautiful-Green-Earth-Closeup-Wallpaper.jpg'); color: white;">


<h1>Press Releases for LightsOut</h1>

<br>
<h3>Here's what people have been saying about us:</h3>
<br>
<br>
<a style="color:yellow" href="http://www.metro.us/newyork/lifestyle/tech/2014/04/24/new-app-lightsout-aims-shine-light-energy-wasters/">New app, LightsOut, aims to shine light on energy wasters</a>
<br>
<br>
<br>
<a style="color:yellow" href="http://grist.org/list/this-app-lets-you-narc-on-wasted-energy/">This app lets you narc on wasted energy</a>
<br>
<br>
<br>
<a style="color:yellow" href="http://www.fastcoexist.com/3028916/an-app-that-lets-you-point-all-the-worlds-wasted-energy">An App That Lets You Map All The World's Wasted Energy</a>
<br>
<br>
<br>
<a style="color:yellow" href="http://bostinno.streetwise.co/2014/04/09/cleanweb-hackathon-winners-2014-1/">Winning Startups Fixing The World's Sustainability Problems</a>
<br>
<br>
<br>
<a style="color:yellow" href="http://blog.heatspring.com/how-to-use-cheap-sensors-and-mobile-phones-to-make-people-care-about-energy-waste/">How to Use Mobile Phones to Make People Care About Energy Waste</a>
<br>
<br>
<br>




</body>